@using CarShop.Core.Constants
@using CarShop.Core.Models
@model CarCardViewModel

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="@Model.ImageUrl" style="height: 150px; object-fit: cover;" alt="Card image cap">
	<div class="card-body">
		<h5>@Model.Model</h5>
		<p class="card-text">@Model.Brand</p>
		<h6 class="card-text">@Model.Price</h6>
		<a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>

		@if (!User.IsInRole(UserConstants.Roles.Employee) && !User.IsInRole(UserConstants.Roles.Administrator))
		{
			<a asp-controller="Orders" asp-action="New" asp-route-id="@Model.Id" class="btn btn-primary">Customize</a>
		}

		@if (User.IsInRole(UserConstants.Roles.Employee) || User.IsInRole(UserConstants.Roles.Administrator))
		{
			<a asp-area="Emp" asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
		}
	</div>
</div>
