@using CarShop.Core.Models
@using CarShop.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model AdminDashboardViewModel
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Admin Dashboard";
	Layout = null;

	var user = string.Empty;

	if (User.Identity.IsAuthenticated)
		user = UserManager.FindByIdAsync(User.FindFirstValue(ClaimTypes.NameIdentifier)).Result.FirstName;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/style/admin-dashboard-style.css">
	<title>@ViewData["Title"] | VW Group Motors</title>
</head>

<body>
	<aside>
		<a href="" class="logo">
			<img src="~/img/img/logo.png">
		</a>

		<div class="profile">
			<a asp-area="Identity" asp-page="/Account/Manage/Index">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle"
					 viewBox="0 0 16 16">
					<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
					<path fill-rule="evenodd"
						  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
				</svg>
				@user
			</a>
		</div>

		<div class="menu">
			<a asp-area="Admin" asp-controller="User" asp-action="ManageUsers">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people-fill"
					 viewBox="0 0 16 16">
					<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
					<path fill-rule="evenodd"
						  d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
					<path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
				</svg>
				Manage Users
			</a>
			<a asp-area="Emp" asp-controller="Cars" asp-action="Create">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square-fill"
					 viewBox="0 0 16 16">
					<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
				</svg>
				Create Car
			</a>
			<a asp-area="" asp-controller="Orders" asp-action="Personal">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</svg>
				My Orders
			</a>
		</div>

		<div class="logout">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-right"
						 viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
						<path fill-rule="evenodd"
							  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
					</svg>
					Log out
				</button>
			</form>
		</div>
	</aside>

	<div class="main">
		<h1>Dashboard</h1>

		<div class="stats">
			<div class="table" id="ti">
				<table>
					<thead>
						<tr>
							<th>Total Income</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>€ @Model.TotalIncome</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table" id="to">
				<table>
					<thead>
						<tr>
							<th>Total Orders</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Model.Orders.Count()</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table" id="ua">
				<table>
					<thead>
						<tr>
							<th>Client Accounts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Model.Clients.Count()</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table" id="msc">
				<table>
					<thead>
						<tr>
							<th>Most Saled Car</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Model.MostSaledCar</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="table">
			<h2>Orders</h2>
			<table>
				<thead>
				<th>Date</th>
				<th>Car</th>
				<th>Color</th>
				<th>Transmission</th>
				<th>Total Price</th>
				</thead>

				<tbody>
					@foreach (var order in Model.Orders)
					{
						<tr>
							<td>@order.Date</td>
							<td>@order.CarBrand @order.CarModel</td>
							<td>@order.Color</td>
							<td>@order.TransmissionType</td>
							<td>€ @order.Price</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div class="table">
			<h2>Employees</h2>
			<table>
				<thead>
				<th>Names</th>
				<th>Email</th>
				<th>Actions</th>
				</thead>

				<tbody>
					<tr>
						@foreach (var emp in Model.Employees)
						{
							<td>@emp.Name</td>
							<td>@emp.Email</td>
							<td class="actions">
								<a asp-area="Admin" asp-controller="User" asp-action="ManageUsers" class="edit">Change</a>
							</td>
						}
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table">
			<h2>Clients</h2>
			<table>
				<thead>
				<th>Names</th>
				<th>Email</th>
				<th>Actions</th>
				</thead>

				<tbody>
					@foreach (var client in Model.Clients)
					{
						<tr>
							<td>@client.Name</td>
							<td>@client.Email</td>
							<td class="actions">
								<a asp-area="Admin" asp-controller="User" asp-action="ManageUsers" class="edit">Change</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>




@*<div class="text-center">
	<h1 class="display-4">Dashboard</h1>
	</div>

	<div class="text-center">
	<div class="card">
	<h5 class="card-header">Total Income</h5>
	<div class="card-body">
	<h5 class="card-title">€@Model.TotalIncome</h5>
	</div>
	</div>

	<div class="card">
	<h5 class="card-header">Most Saled Car</h5>
	<div class="card-body">
	<img class="card-img-left" src="@Model.CarImageUrl" alt="Card image cap" style="height:100px;">
	<h5 class="card-title">@Model.MostSaledCar</h5>
	</div>
	</div>

	<h3 class="display-6">Orders</h3>
	<div class="table">
	<table class="table">
	<thead class="thead">
	<tr>
	<th scope="col">Date</th>
	<th scope="col">Car</th>
	<th scope="col">Color</th>
	<th scope="col">Transmission</th>
	<th scope="col">Total Price</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var order in Model.Orders)
	{
	<tr>
	<td scope="row">@order.Date</td>
	<td>@order.CarBrand @order.CarModel</td>
	<td>@order.Color</td>
	<td>@order.TransmissionType</td>
	<td>€@order.Price</td>
	</tr>
	}
	</tbody>
	</table>
	</div>

	<h3 class="display-6">Employees</h3>
	<div class="table">
	<table class="table">
	<thead class="thead">
	<tr>
	<th scope="col">Name</th>
	<th scope="col">Email</th>
	<th scope="col">Action</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var emp in Model.Employees)
	{
	<tr>
	<td scope="row">@emp.Name</td>
	<td scope="row">@emp.Email</td>
	<td>
	<a asp-area="Admin" asp-controller="User" asp-action="ManageUsers"
	type="button" class="btn btn-primary">Change</a>
	</td>
	</tr>
	}
	</tbody>
	</table>
	</div>

	<h3 class="display-6">Clients</h3>
	<div class="table">
	<table class="table">
	<thead class="thead">
	<tr>
	<th scope="col">Name</th>
	<th scope="col">Email</th>
	<th scope="col">Action</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var emp in Model.Clients)
	{
	<tr>
	<td scope="row">@emp.Name</td>
	<td scope="row">@emp.Email</td>
	<td>
	<a asp-area="Admin" asp-controller="User" asp-action="ManageUsers"
	type="button" class="btn btn-primary">Change</a>
	</td>
	</tr>
	}
	</tbody>
	</table>
	</div>
	</div>*@