@using CarShop.Core.Models
@model IEnumerable<OrderListViewModel>
@{
	ViewData["Title"] = "My Orders";
}

<link rel="stylesheet" href="~/css/style/personal-orders.css">

<div class="main">
	<h1>My Orders</h1>

	<div class="table">
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Car</th>
					<th>Color</th>
					<th>Transmission</th>
					<th>Total Price</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var order in Model)
				{
					<tr>
						<td scope="row">@order.Date</td>
						<td>@order.CarBrand @order.CarModel</td>
						<td>@order.Color</td>
						<td>@order.TransmissionType</td>
						<td>€@order.Price</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>