@using CarShop.Core.Constants
@using CarShop.Core.Models
@model CarDetailsViewModel
@{
	ViewData["Title"] = "Edit Car";
}

<img src="@Model.ImageUrl" />
<p>Model: @Model.Model</p>
<p>Height: @Model.Height</p>
<p>Width: @Model.Width</p>
<p>Length: @Model.Length</p>
<p>Weight: @Model.Weight</p>
<p>Release Year: @Model.ReleaseYear</p>
<p>Price: @(Model.Price)€</p>
@if (User.IsInRole(UserConstants.Roles.Administrator) || User.IsInRole(UserConstants.Roles.Employee))
{
	<a asp-area="Emp" asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
	<a asp-area="Emp" asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
}
else
{
	<a asp-controller="Orders" asp-action="New" asp-route-id="@Model.Id" class="btn btn-primary">Customize</a>
}