@using CarShop.Core.Models
@model CarCreateViewModel
@{
	ViewData["Title"] = "Create Car";
	var brands = (List<SelectListItem>)ViewBag.Brands;
	var coupeTypes = (List<SelectListItem>)ViewBag.CoupeTypes;
	var doorConfigs = (List<SelectListItem>)ViewBag.DoorConfigs;
	var engines = (List<SelectListItem>)ViewBag.Engines;
	var driveTrainTypes = (List<SelectListItem>)ViewBag.DriveTrainTypes;
}

<div>
	<form method="post">
		<div class="form-floating mb-3">
			<div style="display: inline-block" class="form-group">
				<label>Brand</label>
				<select name="BrandName" asp-items="@brands" class="form-control">
					<option value="none">(None)</option>
				</select>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Model</label>
				<div class="col-sm-10">
					<input asp-for="Model" type="text" class="form-control" id="model" placeholder="Enter model name...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">ReleaseYear</label>
				<div class="col-sm-10">
					<input asp-for="ReleaseYear" type="text" class="form-control" id="model" placeholder="Enter car release year...">
				</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Height</label>
				<div class="col-sm-10">
					<input asp-for="Heigth" type="text" step="0.01" class="form-control" id="model" placeholder="Enter height...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Width</label>
				<div class="col-sm-10">
					<input asp-for="Width" type="text" step="0.01" class="form-control" id="model" placeholder="Enter width...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Length</label>
				<div class="col-sm-10">
					<input asp-for="Length" type="text" step="0.01" class="form-control" id="model" placeholder="Enter length...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Weight</label>
				<div class="col-sm-10">
					<input asp-for="Weight" type="text" step="0.01" class="form-control" id="model" placeholder="Enter weight...">
				</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<div style="display: inline-block;" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label" style="width: 100%!important">Crash Protection Level</label>
				<div class="col-sm-10">
					<input asp-for="CrashProtectionLevel" type="text" step="0.01" class="form-control" id="model" placeholder="Enter crash protection level...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Fuel Consumption</label>
				<div class="col-sm-10">
					<input asp-for="FuelConsumption" type="text" step="0.01" class="form-control" id="model" placeholder="Enter fuel consumption...">
				</div>
			</div>

			<div style="display: inline-block" class="form-group row">
				<label for="model" class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-10">
					<input asp-for="Price" type="text" step="0.01" class="form-control" id="model" placeholder="Enter price in Euro...">
				</div>
			</div>
		</div>

		<div class="form-floating mb-3">
			<div style="display: inline-block" class="form-floating mb-3">
				<div class="form-group">
					<label>Coupe Type</label>
					<select asp-for="CoupeTypeName" asp-items="@coupeTypes" class="form-control">
						<option value="none">(None)</option>
					</select>
				</div>
			</div>

			<div style="display: inline-block" class="form-floating mb-3">
				<div class="form-group">
					<label>Door Config</label>
					<select asp-for="DoorConfigName" asp-items="@doorConfigs" class="form-control">
						<option value="none">(None)</option>
					</select>
				</div>
			</div>

			<div style="display: inline-block" class="form-floating mb-3">
				<div class="form-group">
					<label>Engine</label>
					<select asp-for="EngineName" asp-items="@engines" class="form-control">
						<option value="none">(None)</option>
					</select>
				</div>
			</div>

			<div style="display: inline-block" class="form-floating mb-3">
				<div class="form-group">
					<label>Drive Train Type</label>
					<select asp-for="DriveTrainTypeName" asp-items="@driveTrainTypes" class="form-control">
						<option value="none">(None)</option>
					</select>
				</div>
			</div>
		</div>

		<div style="display: inline-block" class="pt-1 mb-4">
			<button type="submit" class="btn btn-lg btn-block">Create</button>
		</div>
	</form>
</div>


