@using CarShop.Core.Models
@model CarCreateViewModel
@{
	ViewData["Title"] = "Edit Car";
	var brands = (List<SelectListItem>)ViewBag.Brands;
	var coupeTypes = (List<SelectListItem>)ViewBag.CoupeTypes;
	var doorConfigs = (List<SelectListItem>)ViewBag.DoorConfigs;
	var engines = (List<SelectListItem>)ViewBag.Engines;
	var driveTrainTypes = (List<SelectListItem>)ViewBag.DriveTrainTypes;
}

<link rel="stylesheet" href="~/css/style/create-edit-car-style.css">

@*<form method="post">
	<input type="hidden" asp-for="Id" />
	<div class="form-floating mb-3">
		<div style="display: inline-block" class="form-group row">
			<label for="piu" class="col-sm-2 col-form-label">ProfileImageUrl</label>
			<div class="col-sm-10">
				<input asp-for="ProfileImageUrl" type="text" class="form-control" id="piu" placeholder="Enter profile image url...">
			</div>
		</div>

		<div style="display: inline-block" class="form-group row">
			<input type="hidden" asp-for="ImageUrls" id="submitUrls">

			<input type="text" name="" id="imageUrls">
			<span id="add-img">Add</span>

			<div id="images">
				@foreach (var url in Model.Urls)
				{
					@await Html.PartialAsync("_ImagesForCarEditPartial", url)
				}
			</div>
		</div>

		<div class="form-group">
			<label>Brand</label>
			<select asp-for="BrandId" asp-items="@brands" class="form-control">
				<option value="none">(None)</option>
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Model</label>
		<div class="col-sm-10">
			<input asp-for="Model" type="text" class="form-control" id="model" placeholder="Enter model name...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">ReleaseYear</label>
		<div class="col-sm-10">
			<input asp-for="ReleaseYear" type="number" class="form-control" id="model" placeholder="Enter car release year...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Height</label>
		<div class="col-sm-10">
			<input asp-for="Heigth" type="number" class="form-control" id="model" placeholder="Enter height...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Width</label>
		<div class="col-sm-10">
			<input asp-for="Width" type="number" class="form-control" id="model" placeholder="Enter width...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Length</label>
		<div class="col-sm-10">
			<input asp-for="Length" type="number" class="form-control" id="model" placeholder="Enter length...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Weight</label>
		<div class="col-sm-10">
			<input asp-for="Weight" type="number" class="form-control" id="model" placeholder="Enter weight...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Crash Protection Level</label>
		<div class="col-sm-10">
			<input asp-for="CrashProtectionLevel" type="number" class="form-control" id="model" placeholder="Enter crash protection level...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Fuel Consumption</label>
		<div class="col-sm-10">
			<input asp-for="FuelConsumption" type="number" class="form-control" id="model" placeholder="Enter fuel consumption...">
		</div>
	</div>

	<div class="form-group row">
		<label for="model" class="col-sm-2 col-form-label">Price</label>
		<div class="col-sm-10">
			<input asp-for="Price" type="number" class="form-control" id="model" placeholder="Enter price in Euro...">
		</div>
	</div>

	<div class="form-floating mb-3">
		<div class="form-group">
			<label>Coupe Type</label>
			<select asp-for="CoupeTypeId" asp-items="@coupeTypes" class="form-control">
				<option value="none">(None)</option>
			</select>
		</div>
	</div>

	<div class="form-floating mb-3">
		<div class="form-group">
			<label>Door Config</label>
			<select asp-for="DoorConfigId" asp-items="@doorConfigs" class="form-control">
				<option value="none">(None)</option>
			</select>
		</div>
	</div>

	<div class="form-floating mb-3">
		<div class="form-group">
			<label>Engine</label>
			<select asp-for="EngineId" asp-items="@engines" class="form-control">
				<option value="none">(None)</option>
			</select>
		</div>
	</div>

	<div class="form-floating mb-3">
		<div class="form-group">
			<label>Drive Train Type</label>
			<select asp-for="DriveTrainTypeId" asp-items="@driveTrainTypes" class="form-control">
				<option value="none">(None)</option>
			</select>
		</div>
	</div>

	<div class="pt-1 mb-4">
		<button type="submit" class="btn btn-lg btn-block">Save</button>
	</div>
</form>*@

<div class="main">
	<form method="post">
		<input asp-for="ImageUrls" type="hidden" id="add-img-urls" />
		<div class="profile-image">
			<img src="@Model.ProfileImageUrl">
			<div class="add-url">
				<p>Profile image</p>
				<input asp-for="ProfileImageUrl" type="text" placeholder="Enter url address...">
				<a href="#">Add</a>
			</div>
		</div>

		<div class="right">
			<div class="parameters">
				<div class="line-1">
					<div class="param">
						<p>Brand</p>
						<select asp-for="BrandId" asp-items="brands">
						</select>
					</div>
					<div class="param">
						<p>Model</p>
						<input asp-for="Model" type="text">
					</div>
					<div class="param">
						<p>Release Year</p>
						<input asp-for="ReleaseYear" type="text">
					</div>
					<div class="param">
						<p>Coupe Type</p>
						<select asp-for="CoupeTypeId" asp-items="coupeTypes">
						</select>
					</div>
				</div>
				<div class="line-2">
					<div class="param">
						<p>Height</p>
						<input asp-for="Heigth" type="text">
					</div>
					<div class="param">
						<p>Width</p>
						<input asp-for="Width" type="text">
					</div>
					<div class="param">
						<p>Length</p>
						<input asp-for="Length" type="text">
					</div>
					<div class="param">
						<p>Weight</p>
						<input asp-for="Weight" type="text">
					</div>
				</div>
				<div class="line-3">
					<div class="param">
						<p>Engine</p>
						<select asp-for="EngineId" asp-items="engines">
						</select>
					</div>
					<div class="param">
						<p>Fuel Consumption</p>
						<input asp-for="FuelConsumption" type="text">
					</div>
					<div class="param">
						<p>Door Config</p>
						<select asp-for="DoorConfigId" asp-items="doorConfigs">
						</select>
					</div>
					<div class="param">
						<p>Drive Train</p>
						<select asp-for="DriveTrainTypeId" asp-items="driveTrainTypes">
						</select>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="add-url">
					<p>Additional images</p>
					<input type="text" placeholder="Enter url address...">
					<a href="#">Add</a>
				</div>

				<div class="param">
					<p>Crash Protection Level</p>
					<input asp-for="CrashProtectionLevel" type="text">
				</div>

				<div class="param">
					<p>Price</p>
					<input asp-for="Price" type="text">
				</div>
			</div>
		</div>

		<div class="additional-images">
			@*@foreach (var url in Model.Urls)
			{
				@await Html.PartialAsync("_ImagesForCarEditPartial", url)
			}*@
		</div>

		<div class="submit">
			<button type="submit">Save</button>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_CarCreateEditScriptsPartial"/>
}
